.bod {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(16, 16, 16, 0.8),
        rgba(16, 16, 16, 0.8)),
      url(https://i.loli.net/2019/10/18/buDT4YS6zUMfHst.jpg);
    background-size:contain;
  }
